@media screen and (max-width:1024px) {

.dashboard .col-lg-2 {
    width: 100%;
    max-width: 50%;
    flex: 0 0 50%;
}

.small-box h3{
font-size: 20px !IMPORTANT;
}

p.number-item {
    width: 60px;
    height: 26px;
    font-size: 14px;
    line-height: 28px;
}


}

@media screen and (max-width:992px) {

.dashboard .col-lg-2 {
    width: 100%;
    max-width: 50%;
    flex: 0 0 50%;
}

.small-box h3{
font-size: 18px !IMPORTANT;
}

p.number-item {
    width: 60px;
    height: 26px;
    font-size: 14px;
    line-height: 28px;
}


}

/*@media screen and (max-width:768px) {

p.number-item {
    width: 60px;
    height: 26px;
    font-size: 14px;
    line-height: 28px;
}
.dashboard .col-lg-2 {
    width: 100%;
    max-width: 50%;
    flex: 0 0 50%;
}
.small-box h3{
font-size: 18px !IMPORTANT;
}


}*/

@media screen and (max-width:767px) {

.dashboard .col-lg-2 {
    width: 100%;
    max-width: 50%;
    flex: 0 0 50%;
}

.small-box h3{
font-size: 18px !IMPORTANT;
}

p.number-item {
    width: 60px;
    height: 26px;
    font-size: 14px;
    line-height: 28px;
}
img.chartimg {
    width: 100%;
}

.col-1 {
  -ms-flex: 0 0 16%;
  flex: 0 0 16%;
  max-width: 16%;
}
.col-2 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.col-3 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.col-4 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.col-5 {
   -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.col-6 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.col-7 {
   -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.col-8 {
   -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.col-9 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.col-10 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.col-11 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}


}