

@media screen and (max-width:1024px) {
	button.btn-get,button.btn-get-see{
	max-width: 30%;
}

.real-head,.testimonials .section-header h2 {
    max-width: 85%;
}

.projects:before {
   top: -15rem;
}
.alt-services .img-bg {
  height: 65vh;
}

}

@media screen and (max-width:992px) {
button.btn-get,button.btn-get-see{
	max-width: 30%;
}

.real-head,.testimonials .section-header h2 {
    max-width: 85%;
}

.projects:before {
   top: -15rem;
}
.alt-services .img-bg {
  height: 65vh;
}

li.login a {
    padding:10px 20px;
    text-align: left;
    margin-left: 3px;
   }

}

@media screen and (max-width:768px) {
button.btn-get,button.btn-get-see{
	max-width: 30%;
}

.real-head,.testimonials .section-header h2 {
    max-width: 85%;
}

.projects:before {
   top: -15rem;
}
.alt-services .img-bg {
  height: 55vh;
}
li.login a {
    padding:10px 20px;
    text-align: left;
    margin-left: 3px;
   }

}

@media screen and (max-width:767px) {
.container-fuild {
    max-width: 100%;
    width: 100%;
    padding: 0 0.5rem;
}

li.login a {
    padding:10px 20px;
    text-align: left;
    margin-left: 3px;
   }
button.btn-get{
	max-width:60%;
	margin: 0 auto;
	padding: 0.4rem;
}

section.get-started:before {
    top: -3rem;
    width: 65px;
 }
section.get-started:after {
    top: 71%;
    width: 50px;
  }

.rating-text h3 {
    margin-right: 0;
}

.constructions{
	padding-top: 0;
}

.alt-services h3 {
    font-size: 36px;
    max-width: 100%;
 
}
.projects {
    padding-top: 0;
}

li.login a {
    padding: 10px 20px;
    text-align: left;
    
}

.hero .carousel {
   min-height: 40vh;
}

.hero .info p {
    font-size: 14px;
    max-width: 100%;
   
}
 .hero .info .btn-get-started {
   font-size: 14px;
   padding: 0.4rem 2rem;
    margin: 0rem 0rem 0rem;
    }
    .hero .info {
    top: -52%;
    left: 3rem;
}
.alt-services {
    padding-top: 0;
}

button.btn-get-see {
        max-width: 60%;
    width: 100%;
    font-size: 18px;
    padding: 0.4rem;
}

.testimonials .section-header {
    text-align: left;
    max-width: 100%;
    width: 100%;
}
.testimonials .section-header p {
    max-width: 100%;
}
.testimonials {
    padding-top: 0;
    padding-bottom: 0;
}
.header .logo img {
    max-height: 25px;
    margin-left: 0;
    /* margin-top: 2rem; */
}

.projects:before {
    width: 45px;
    top: -9rem;
   
}

.section-header h2{
	font-size: 28px;
}

.testimonials .section-header h2{
	max-width: 95%;
	font-size: 26px;
    line-height: 36px;
}

.real-story:before {
    width: 85px;
}

h3.real-heading {
   font-size: 28px;
    line-height: 36px;
 }

h3.real-heading:before {
left: -2rem;
top: -1rem;
width: 55px;
}
.real-head{
max-width: 100%;
padding-left: 2rem;
}
.saprate{
max-width: 100%;
}

.rightside {
top: 0rem;
left: 1rem;
}

.banner:before {
    top: 85%;
  bottom: -2rem;
}

.banner-text {
    top: 20%;
   max-width: 100%;
   
}

.banner-text h2 {
    font-size: 32px;
    line-height: 44px;
}

.banner-text p{
	width: 100%;
}

.real-story:after {
    top: 92%;
    width: 80px;
   bottom: -4rem;
}

.alt-services .img-bg {
  height: 55vh;
}
.header{
	padding: 1rem 0rem;
}

}